body {
    background-color: darkslategray;
    margin-top: 4vw;
  color: seashell;
  }

  h1 {
    font-family: serif;
    
    text-align: center;
    font-size: 3em;
  }
  h2{
    font-size: 2em;
    text-align: center;
    
  }
  h3, h4, h5 {
    font-size: 1.5em;
    
  }
  
  p {
    font-family: verdana;
    font-size: 1.3em;
    
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  @media only screen and (max-width: 1000px) {
    .center-small{
      display: inline;
      margin-left: none;
      margin-right: none;
      width: 40%;
      
    }
  }


  /* navbar */

  ul.menu {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: dimgray;
    margin: 0;
    padding: 0;

  }
  li {
    /*float: left;*/
    
  }

  li a {

    font-size: 1.2em;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 1.3vw;
    color: seashell;

  }
