body {
    background-color: darkslategray;
    margin-top: 4vw;
  color: seashell;
  }

  h1 {
    font-family: serif;
    
    text-align: center;
    font-size: 3em;
  }
  h2{
    font-size: 2em;
    text-align: center;
    
  }
  h3, h4, h5 {
    font-size: 1.5em;
    
  }
  
  p {
    font-family: verdana;
    font-size: 1.3em;
    margin-right: 3vw;
    
  }

  [class*="center-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .center-bilde1 {
width: 80%;
  }
  .center-bilde2 {
    width: 60%;
  }

  @media only screen and (max-width: 1000px) {
    .center-small{
      display: inline;
      margin-left: none;
      margin-right: none;
      width: 40%;
    }
  }
    @media only screen and (max-width: 1000px) {
      .center-bilde1-small{
width: 100%;
      }
    }

  /* navbar */

  .anchor {
    padding-top: 90px;
    margin-top: -90px;
}
@media only screen and (max-width: 1000px){
  .anchor{
    padding-top: 70px;
    margin-top: -70px;
  }
}

  ul.menu {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: dimgray;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: -10px;

  }


  li a {

    font-size: 1.2em;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 1.3vw;
    color: seashell;

  }