body {
    background-color: lightblue;
    margin-top: 3vw;
  
  }

  
  h1 {
    font-family: serif;
    color: black;
    text-align: center;
    font-size: 3vw;
  }
  h2{
    font-size: 2vw;
    text-align: center;
  }
  h3, h4, h5 {
    font-size: 1.5vw;
  }
  
  p {
    font-family: verdana;
    font-size: 1.5vw;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


  .farge {
    background-color: white;
    padding: 20px;
  }

  /* navbar */

  ul.menu {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: lightgray;
    margin: 0;
    padding: 0;

  }
  li {
    /*float: left;*/
    
  }

  li a {

    font-size: 1.2vw;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 1.3vw;

  }
