.row{
    content: "";
    clear: both;
    display: table;
}
* {
 box-sizing: border-box;   
}

[class*="col-"]{
    float: left;
    padding: 0;
    width: 100%;
    /*border: 1px solid grey;*/
}

img {
    max-width: 100%;
    height: auto;
    padding: 5px;
}

.col-default-10 {width: 10%;}
.col-default-20 {width: 20%;}
.col-default-25 {width: 25%;}
.col-default-30 {width: 30%;}
.col-default-33 {width: 33%;}
.col-default-40 {width: 40%;}
.col-default-50 {width: 50%;}
.col-default-60 {width: 60%;}
.col-default-70 {width: 70%;}
.col-default-80 {width: 80%;}
.col-default-90 {width: 90%;}
.col-default-100 {width: 100%;}

/*telefon*/
@media only screen and (min-width: 400px) {
.col-tel-10 {width: 10%;}
.col-tel-20 {width: 20%;}
.col-tel-30 {width: 30%;}
.col-tel-40 {width: 40%;}
.col-tel-50 {width: 50%;}
.col-tel-60 {width: 60%;}
.col-tel-70 {width: 70%;}
.col-tel-80 {width: 80%;}
.col-tel-90 {width: 90%;}
.col-tel-100 {width: 100%;}
}
/*tablet*/
@media only screen and (min-width: 750px) {
.col-tab-10 {width: 10%;}
.col-tab-20 {width: 20%;}
.col-tab-30 {width: 30%;}
.col-tab-40 {width: 40%;}
.col-tab-50 {width: 50%;}
.col-tab-60 {width: 60%;}
.col-tab-70 {width: 70%;}
.col-tab-80 {width: 80%;}
.col-tab-90 {width: 90%;}
.col-tab-100 {width: 100%;}
}
/*desktop*/
@media only screen and (min-width: 1000px) {
.col-pc-10 {width: 10%;}
.col-pc-20 {width: 20%;}
.col-pc-30 {width: 30%;}
.col-pc-40 {width: 40%;}
.col-pc-50 {width: 50%;}
.col-pc-60 {width: 60%;}
.col-pc-70 {width: 70%;}
.col-pc-80 {width: 80%;}
.col-pc-90 {width: 90%;}
.col-pc-100 {width: 100%;}
}